

.a-container {
    min-width: 1200px;
    max-width: 2560px;
    width: 100%;
    min-height: 100%;
    background-color: #eeeeee;
}

/*头部蓝色渐变背景*/
.a-title-bg {
    overflow: hidden;
    width: 100%;
    min-width: 1200px;
    height: 540px;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: linear-gradient(90deg, #D9B38D 13%, #A68A6C 87%);
    background-size: 100% 540px;
    img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

.a-title-text {
	font-size: 36px;
	color: #646464;
	letter-spacing: 0;
	line-height: 32px;
	margin-top: 60px;
	margin-bottom: 40px;
}

.a-sub-title-text {
	width: 960px;
	font-size: 18px;
	color: #646464;
	letter-spacing: 0;
	line-height: 32px;
	padding-bottom: 60px;
	p {
    	padding-bottom: 32px;
	}
}













