body {
    .img {
    	width: 100%;
    	height: 100%;
    	background-size: contain;
    	background-repeat: no-repeat;
    	background-position: center;
    }
    .wangwen {
    	background-image: url('../../static/img/wangwen.jpg');
    }
    .hub {
    	background-image: url('../../static/img/B2.jpg');
    }
}