body{
  background-color: #ebebeb;
}
.top-area{
  max-width: 100%;
  overflow: hidden;
  .top-img{
    width: 2560px;
    height: 540px;
    margin:0 calc(50% - 1280px);
  }
}
.member{
  width: 1200px;
  margin: 0 auto;
  .change-content{
    .title{
      font-size: 36px;
      color: #646464;
      letter-spacing: 0;
      height: 90px;
      line-height: 110px;
    }
    .changes{
      display: flex;
      background: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
      border-radius: 8px;
      height: 420px;
      overflow: hidden;
      .left,.right{
        flex: 1;
      }
      .right{
        .img-item{
          display: none;
          &.check{
            display: block;
          }
        }
      }
      .left{
        text-align: center;
        .text-area{
          .text-item{
            display: none;
            &.check{
              display: block;
            }
            .title{
              margin-top: 130px;
              .text{
                font-size: 36px;
                color: #313131;
                letter-spacing: 0;
                text-align: center;
                height: 50px;
                line-height: 50px;
                z-index: 2;
                position: relative;
              }
              .bkg{
                display: inline-block;
                font-size: 36px;
                color: transparent;
                height: 25px;
                position: relative;
                top: -25px;
              }
            }
            .dec-area{
              margin-top: 5px;
              font-size: 16px;
              line-height: 22px;
              color: #646464;
              letter-spacing: 0;
              text-align: center;
            }
          }
        }
        .btn-area{
          .btn{
            margin: 50px 5px 0;
            display: inline-block;
            width: 12px;
            height: 12px;
            background: rgba(0,0,0,0.20);
            border-radius: 50%;
            cursor: pointer;
            &.check{
              background: #8B49F6;
            }
          }
        }
      }
    }
  }
  .content,.swipe-content{
    .title{
      font-size: 36px;
      color: #646464;
      letter-spacing: 0;
      height: 90px;
      line-height: 110px;
    }
    .text{
      font-size: 16px;
      color: #959595;
      letter-spacing: 0;
      line-height: 22px;
    }
  }
  .content{
    /*.title{
      font-size: 36px;
      color: #646464;
      letter-spacing: 0;
      height: 90px;
      line-height: 110px;
    }
    .text{
      font-size: 16px;
      color: #959595;
      letter-spacing: 0;
      line-height: 22px;
    }*/
    .img-area{
      width: 1200px;
      height: 420px;
      margin-top: 20px;
      background: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
      border-radius: 8px;
      vertical-align: middle;
      text-align: center;
      img{
        width: 1120px;
        height: 336px;
        margin-top: 42px;
      }
    }
  }
  .swipe-content{
    .swipe{
      height: 381px;
      background: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
      border-radius: 8px;
      .change-item{
        height: 109px;
        line-height: 109px;
        text-align: center;
        margin-top: 40px;
        .item{
          height: 25px;
          line-height: 25px;
          display: inline-block;
          font-size: 18px;
          color: #959595;
          text-align: center;
          margin: 0 10px;
          cursor: pointer;
          .check-icon{
            width: 20px;
            height: 4px;
            background: #8B49F6;
            border-radius: 2px;
            position: relative;
            left: 28px;
            top: 5px;
            display: none;
          }
          &.check{
            color: #8B49F6;
            .check-icon{
              display: block;
            }
          }
        }
      }
      .change-img{
        width: 1120px;
        height: 232px;
        margin: 0 auto;
        .img-item{
          width: 1120px;
          height: 232px;
          display: none;
          &.check{
            display: inline-block;
          }
        }
      }
    }
  }
  .add-content{
    .title{
      font-size: 36px;
      color: #646464;
      letter-spacing: 0;
      height: 90px;
      line-height: 110px;
    }
    .add-area{
      background: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
      border-radius: 8px;
      display: flex;
      overflow: hidden;
      margin-bottom: 40px;
      .left,.right{
        flex: 1;
      }
      .left{
        text-align: center;
        .title{
          margin-top: 50px;
          .text{
            font-size: 36px;
            color: #313131;
            letter-spacing: 0;
            text-align: center;
            height: 50px;
            line-height: 50px;
            z-index: 2;
            position: relative;
          }
          .bkg{
            display: inline-block;
            font-size: 36px;
            color: transparent;
            height: 25px;
            position: relative;
            top: -25px;
          }
        }
        .tex{
          font-size: 16px;
          color: #646464;
          letter-spacing: 0;
          text-align: center;
          line-height: 22px;
        }
        .code{
          width: 210px;
          height: 210px;
        }
      }
    }
  }
}