@import "../common/public";
//公共的变量
@import "../common/subgroup"; //公共的模块
body{
  background-color: #ededed;
}
.toys-list{
  padding-bottom: 30px;
  .search{
    .show-btn{
      width: 80px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      position: absolute;
      top: 60px;
      left: calc(50vw + 460px);
      cursor: pointer;
      .show-icon{
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
      span{
        
        font-size: 16px;
        color: #313131;
        vertical-align: middle;
      }
    }
    .search-area{
      position: absolute;
      display: none;
      width: 100%;
      margin: 0 auto;
      z-index: 3;
      background: rgba(255,255,255,0.85);
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
      -webkit-filter: blur(0px); /* Chrome, Opera */
      -moz-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=0, MakeShadow=false); /* IE6~IE9 */
      .search-type{
        width: 1200px;
        height: 60px;
        line-height: 60px;
        margin: 0 auto;
        text-align: center;
        border-top: 1px solid #C2C2C2;
        .search-item{
          display: inline-block;
          width: 160px;
          height: 60px;
          line-height: 60px;
          font-size: 16px;
          color: #646464;
          text-align: center;
          cursor: pointer;
          .check-icon{
            width: 20px;
            height: 4px;
            background: #8B49F6;
            border-radius: 2px;
            position: relative;
            left: 70px;
            top: -15px;
            display: none;
          }
        }
        .checked{
          color:  #8B49F6;
          .check-icon{
            display: block;
          }
        }
        .border-icon{
          position: relative;
          left: 1100px;
          top:-90px;
          &:before,&:after{
            border: solid transparent;
            content: ' ';
            height: 0;
            left: 100%;
            position: absolute;
            width: 0;
          }
          &:after{
            border-width: 6px;
            border-bottom-color: rgba(255,255,255,0.75);
            top: 18px;
            left: 1px;
          }
          &:before{
            border-width: 7px;
            border-bottom-color: #C2C2C2;
            top: 16px;
            left: 0;
          }
        }
      }
      .check-areas{
        .check-area{
          width: 1200px;
          margin: 0 auto;
          padding: 0 20px;
          display: none;
          .check-type{
            font-size: 16px;
            color: #646464;
            padding-left: 20px;
            margin-bottom: 10px;
          }
          .check-items{
            //display: flex;
            margin-bottom: 10px;
            .item{
              display: inline-block;
              flex-grow: 0;
              height: 32px;
              font-size: 16px;
              color: #282828;
              line-height: 32px;
              padding-right: 20px;
              padding-left: 20px;
              cursor: pointer;
            }
            .checked{
              color: #8B49F6;
            }
          }
          &.check{
            display: block;
          }
        }
      }
      .btn-area{
        text-align: center;
        margin: 20px auto;
        .reset-btn,.post-btn{
          display: inline-block;
          cursor: pointer;
        }
        .reset-btn{
          width: 96px;
          height: 32px;
          line-height: 32px;
          background: #FFFFFF;
          border-radius: 16px;
          
          font-size: 14px;
          color: #8B49F6;
          text-align: center;
          margin-right: 30px;
        }
        .post-btn{
          width: 96px;
          height: 32px;
          background: #8B49F6;
          border-radius: 16px;
          
          font-size: 14px;
          color: #FFFFFF;
          text-align: center;
        }
      }
    }
  }
  .toys-area {
    width: 100%;
    background-color: #ebebeb;
    .toys {
      width: 1200px;
      margin: 0 auto -20px;
      padding-top: 30px;
      .title{
        display: none;
      }
    }
  }
}