.apps{
  //width: 1200px;
  //height: 100%;
  margin: 0 auto;
  background-color: #ebebeb;
  padding-bottom: 30px;
  .apps-area{
    width: 1200px;
    margin: 0 auto;
    // 公用swiper样式
    .swiper-container {
      width: 100%;
      height: 100%;
      margin-top: 30px;
      border-radius: 8px;
      .swiper-slide {
        text-align: center;
        background: #fff;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 1200px;
          height: 400px;
          cursor: pointer;
        }
      }

      .swiper-button-prev,
      .swiper-container-rtl .swiper-button-next {
        width: 47px;
        height: 32px;
        background-image: url('../../static/btn/btn_32_page_turning_b_l_nor.png');
        background-size: 100% 100%;
        right: 52.5%;
        left: auto;
        top: auto;
        bottom: 60px;
      }

      .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        width: 47px;
        height: 32px;
        background-image: url('../../static/btn/btn_32_page_turning_b_r_nor.png');
        background-size: 100% 100%;
        left: 52.55%;
        right: auto;
        top: auto;
        bottom: 60px;
      }
      .swiper-container-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        width: 56px;
        height: 32px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        bottom: 60px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        //background: rgba(49, 49, 49, 0.50);
        //background-color: red;
        background: rgba(49, 49, 49, 0.50);
        font-size: 14px;
        color: #FFFFFF;
      }
    }
    .lists{
      width: 1200px;
      display: flex;
      padding-bottom: 30px;
      flex-wrap: wrap;
      margin-bottom: -20px;
      .app-item{
        //width: 25%;
        height: 293px;
        flex-shrink: 0;
        width: 285px;
        margin-right: 20px;
        margin-top: 30px;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
        border-radius: 8px;
        text-align: center;
        &:nth-child(4n+4){
          margin-right: 0;
        }
        &:hover{
          box-shadow: 0 4px 16px 0 rgba(0,0,0,0.20);
        }
        .title{
          font-size: 24px;
          color: #313131;
          height: 33px;
          line-height: 33px;
          margin-top: 30px;
          .title-text{
            position: relative;
            z-index: 2;
          }
          .bkg{
            display: inline-block;
            color: transparent;
            height: 16px;
            font-size: 25px;
            position: relative;
            top: -15px;
            background-image: linear-gradient(-132deg, #FF80CC 0%, #8C65D7 54%);
          }
        }
        .dec{
          
          font-size: 14px;
          color: #959595;
          height: 20px;
          line-height: 20px;
          margin-top: 10px;
        }
        .app-icon{
          margin-top: 20px;
          width: 196px;
          height: 160px;
        }
      }
    }
  }
}