.page-container {
	background-color: #ebebeb;
	padding-bottom: 40px;
	padding-top: 30px;
	.tactic-wrapper {
		.main {
			display: inline-block;
			width: 895px;
			padding: 40px;
			margin-right: 14px;
			background: #FFFFFF;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
			border-radius: 8px;
			.tagtitle {
				font-size: 16px;
				color: #959595;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 2px solid #EBEBEB;
				strong {
					vertical-align: middle;
					font-size: 24px;
					color: #313131;
					padding: 0 10px;
				}
			}
			figure {
				width: 815px;
				overflow: hidden;
				.left {
					width: 284px;
					height: 161px;
					display: inline-block;
					margin-right: 14px;
					position: relative;
					img {
						width: 100%;
						height: 100%;
						border-radius: 4px;
					}
					.icon-play {
						position: absolute;
						top:50%;
						transform: translateY(-50%); 
						left: 0px;
						right: 0px;
						bottom: 0px;
						margin: 0 auto;
						background: rgba(49,49,49,0.50);
						border-radius: 24px;
						width: 72px;
						height: 50px;
						background-image: url("../../static/img/icon_16_arrow_right_w@2x.png");
						background-repeat: no-repeat;
						background-position: center;
						background-size: 32px 36px;
					}
				}
				figcaption {
					display: inline-block;
					width: 511px;
					min-height: 161px;
					border-bottom: 2px solid #EBEBEB;
					h2 {
						text-align: left;
						font-size: 20px;
						color: #313131;
						line-height: 1.5;
						word-wrap: break-word;
					}
					p {
						margin-top: 5px;
						text-align: left;
						font-size: 14px;
						color: #959595;
						line-height: 1.75;
						word-wrap: break-word;
					}
					time {
						display: block;
						margin-top: 14px;
						text-align: right;
						font-size: 14px;
						color: #959595;
						text-align: right;
						line-height: 24px;
					}
				}
			}
		}
		aside {
			display: inline-block;
			width: 285px;
			vertical-align: top;
			title {
				display: block;
				width: 100%;
				height: 56px;
				padding-left: 20px;
				background-image: linear-gradient(-180deg, #FFFFFF 0%, #EBEBEB 100%);
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
				font-size: 20px;
				color: #646464;
				padding-top: 14px;
				position: relative;
				&::after {
				  content: '';
				  position: absolute;
				  bottom: -5px;
				  left: 47px;
				  z-index: 999;
				  width: 0px; 
				  height: 0px; 
				  border-left: 5px solid transparent; 
				  border-right: 5px solid transparent; 
				  border-top: 5px solid #ececec; 
				}
			}
			.hottatic {
				width: 100%;
				background: #FFFFFF;
				box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
				border-radius: 8px;
				padding-bottom: 20px;
				figure {
					margin-top: 20px;
					margin-left: 20px;
					width: 245px;
					height: 80px;
					border-bottom: 1px solid #EBEBEB;
					&:last-child {
						border:none;
					}
					.left {
						display: inline-block;
						width: 105px;
						height: 60px;
						margin-right: 4px;
						background-image: linear-gradient(-147deg, #FF9575 0%, #ED5564 100%);
						border-radius: 4px;
						position: relative;
						.icon-play {
							position: absolute;
							top:50%;
							transform: translateY(-50%);
							left:0px;
							right: 0px;
							margin: 0 auto;
							background: rgba(49,49,49,0.50);
							border-radius: 12px;
							width: 36px;
							height: 24px;
							background-image: url("../../static/img/icon_16_arrow_right_w@2x.png");
							background-repeat: no-repeat;
							background-position: center;
							background-size: 16px 18px;
						}
						img {
							width: 100%;
							height: 100%;
							border-radius: 4px;
						}
					}
					figcaption {
						vertical-align: top;
						display: inline-block;
						width: 130px;
						font-size: 16px;
						color: #313131;
						line-height: 1.5;
					}
				}
			}
			.hottag {
				width: 100%;
				background: #FFFFFF;
				box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
				border-radius: 8px;
				margin-top: 20px;
				.taglist {
					padding: 20px;
					padding-bottom: 10px;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					align-content: space-between;
					.tagitem {
						padding: 7px 12px;
						background: #F5F5F5;
						border-radius: 16px;
						font-size: 16px;
						color: #646464;
						margin-right: 8px;
						margin-bottom: 10px;
						&:hover {
							background: #FAE1E1;
							color: #8B49F6;
						}
					}
				}
			}
			
		}
	}
}
